*/.venv/
*/__pycache__/
*.pyc
./backend/.env
.env
*/db.sqlite3
*/.dockerignore
test-results/
*.tif
*.zip
# package-lock.json
prescription_maps
*/logs
**/tests/playwright-report/data/**
*.csv
# allow Playwright test fixtures
!frontend/tests/fixtures/
!frontend/tests/fixtures/**
!**/backend/YieldPredictionModel/Data/CookHandHarvest_HY1999-HY2016_P3A3_20241029(in).csv
frontend/dist/
*.keras
