DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3

MODEL_LOCATION=./YieldPredictionModel/Models/yield_model.keras

OPENTOPOGRAPHY_API_KEY=change-me
# Get a OPENTOPOGRAPHY_API_KEY key here: https://portal.opentopography.org
EARTH_DATA_API_KEY=change-me
# Get a EARTH_DATA_API_KEY key here: https://urs.earthdata.nasa.gov
# 1. Create an account.
# 2. Go to "Applications > Authorized Apps".
# 3. Click "Approve More Applications". Add the following:
# NSIDC_DATAPOOL_OPS, NSIDC DAAC Earthdata Drive, NSIDC Cumulus Data, & NSIDC Cumulus Dashboard
# 4. Go to the "Generate Token" tab. Generate/paste your token here.
