DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3

MODEL_LOCATION=./YieldPredictionModel/Models/yield_model.keras

OPENTOPOGRAPHY_API_KEY=change-me
# Get a OPENTOPOGRAPHY_API_KEY key here: https://portal.opentopography.org
EARTH_DATA_API_KEY=change-me
# Get a EARTH_DATA_API_KEY key here: https://urs.earthdata.nasa.gov